body, html {
    background-color: #1B1A1C;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    scroll-behavior: smooth;
}

body {
    cursor: url(../css/images/cursor.png), auto;
}

.container {
    margin: 20px;
    margin-top:50px;
}

.left, .right{
    margin:10px;
}
/*scroll bar*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.chip {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    padding: 3px 15px;
    margin-right: 5px;
}

.chip_content {
    font-size: 12px;
    color: #FFF;
}

.ui_chip{background-color: #6C859B;}
.motiongraphic_chip{background-color: #568780;}
.graphic_chip{background-color: #BA887B;}
.programming_chip{background-color: #848856;}
.others_chip{background-color: #885679;}

.title {
    color: #A2A2A2;
    margin: 5px;
    font-size:14px;
}