body, html {
    height: 100%;
    background-color: #312F33;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    min-width: 500px;
    scroll-behavior: smooth;
}

body {
    cursor: url(./images/cursor.png), auto;
}

div.wrap {
    height: 100%;
}

a, a:hover, #cursor {
    cursor: url(./images/cursor_hover.png), auto;
    margin-right: 20px;
}

#contact{
    margin:40px;
}

section {
    padding: 50px;
    position: 100vh;
    background-color: #312F33;
    box-sizing: border-box;
    text-align: center;
}


div.center {
    width: 100%;
    margin: auto;
    text-align: center;
}

#about {
    padding-top: 150px;
    margin: auto;
    background: #1B1A1C;
}

#education, #experiences {
    background: #1B1A1C;
}

#experiences {
    background: #141314;
}


#rounded_rec {
    display: inline-block;
    width: 40%;
    min-width: 400px;
    border-radius: 5px;
    background: #4E4B51;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
}

#rounded_edu {
    display: inline-block;
    width: 100%;
    min-width: 400px;
    border-radius: 25px;
    background: #232224;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.exp_box {
    display:block;
}

.exp_logo {
    vertical-align: text-bottom;
    display: inline-block;
    width: 90px;
    height: 90px;
}

.exp_text {
    margin:30px;
    width: 40%;
    display: inline-block;
    margin-bottom: 30px;
}

hr.white {
    width:60%;
    border-top: 1px dotted #707070;
}


#footer {
    width: 100%;
    margin: auto;
    text-align: center;
    padding:50px;
}

#yellowbox {
    background-color: #00FFF7;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 10px;
    max-height: 10px;
    position: fixed;
}

#cover {
    width: 100%;
    bottom: 0;
    background-image: url("./images/edu_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #BED400;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}