body, html {
    background-color: #1B1A1C;
    background-image: url("./images/showcase/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    scroll-behavior: smooth;
}

body {
    cursor: url(./images/cursor.png), auto;
}

a, a:hover, #cursor, .filter_btn, .card_btn, iframe {
    cursor: url(./images/cursor_hover.png), auto;
}

.container {
    padding-top: 30px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.chip {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    padding: 3px 15px;
    margin:5px;
}

.chip_content {
    font-size: 14px;
    color: #FFF;
}


.vertical {
    border-left: 1px solid #5C5A5E;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin:10px;
}

hr.white {
    width: 60%;
    border-top: 1px dotted #707070;
}

.card {
    display: inline-block;
    height: 400px;
    vertical-align: middle;
    transition: all .2s ease-in-out;
}

.card:hover{ transform: scale(1.05);}

.card_btn, .card_btn:focus {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin: 30px;
}

.filterDiv{
    display: none;
}

.card_small {
    font-size: 14px;
    color: #888888;
}


/*scroll bar*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.3);
    }


.filter_btn, .filter_btn:focus {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 15px;
    margin: 7px;
    font-size: 14px;
    color: #FFF;
    background-color: #3F3D41;
}

.filter_btn:hover{
    background-color: #7E7E7E;
}


#showall_btn, #ui_btn, #motion_btn, #graphic_btn, #programming_btn, #others_btn{background-color: #4F4E51;}
#showall_btn.active:hover{background-color: #67656B; }

.ui_chip, #ui_btn.active {background-color: #6C859B;}
#ui_btn:hover, #motion_btn:hover, #graphic_btn:hover, #programming_btn:hover, #others_btn:hover{background-color: #67656B; }
#ui_btn.active:hover {background-color: #54728D;}

.motiongraphic_chip, #motion_btn.active {background-color: #568780;}
#motion_btn.active:hover{background-color: #36776E;}

.graphic_chip, #graphic_btn.active {background-color: #BA887B;}
#graphic_btn.active:hover{background-color: #B2705E;}

.programming_chip, #programming_btn.active {background-color: #848856;}
#programming_btn.active:hover{background-color: #858B43;}

.others_chip, #others_btn.active {background-color: #885679;}
#others_btn.active:hover{background-color: #813B6C;}

